<footer class="site-footer h-card" role="contentinfo">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper footer-inner">
    <span class="footer-copyright">
      {%- if site.copyright -%}&copy; {{ site.copyright }} {{'now' | date: "%Y"}}{%- endif -%}
    </span>
    <span class="footer-social">
      {%- include social/social.html -%}
    </span>
    <span class="footer-desc">
      <a href="https://hpelabs.github.io/install-instructions/" title="Install Instructions" class="footer-favicon-link">
        <img src="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}" alt="Site favicon" class="footer-favicon">
      </a>{{ site.description | escape }}</span>
  </div>
</footer>
